<div class="container">
  <h1>Créer un nouvelle annonce/h1>
  <%= simple_form_for @product, html: {class: "form-group"} do |f| %>
    <div class="form-group">
      <%= f.label :name, "Nom" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price, "Prix" %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <%= f.submit "Créer", class: "btn btn-primary" %>
  <% end %>
</div>
